header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0 40px;
}

#header-img{
    width: 300px;
    float: left;
}

#nav-bar{
    float: right;
}
 
.nav-link{
    padding: 5px 20px;
    text-decoration: none;
    font-size: 14pt;
    color: inherit;
}

main{
    position: relative;
    top: 60px;
    width: 60%;
    margin: auto;
}

@media(max-width: 600px){
    body {
        font-size: 80px;
    }
}

#how iframe{
    height: 400px;
    width: 60%;
    margin: auto;

}

#price{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
    
.btn {
    text-transform: uppercase;
    background-color: rgb(241, 166, 4);
    font-weight: bold;
    border-radius: 5px;
    height: 18px;
}

.btn:hover {
    transform: scale(1.0);
    animation-name: background-color;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

.price-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: groove;
    border-color: lightgray;
    border-width: 2px;
    padding-bottom: 10px;
    width: 32%;

}

footer {
    background-color: rgb(194, 185, 185);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    margin-top: 80px;
    padding-bottom: 0px;
    
}
footer p {
    font-size: 80%;
    color: gray;
    grid-gap: 10px;
}

#nav-foot {
    display: flex;
    grid-gap: 10px;
}