header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0 40px;
}

#header-img{
    width: 300px;
    float: left;
}

#nav-bar{
    float: right;
}
 
.nav-link{
    padding: 5px 20px;
    text-decoration: none;
    font-size: 14pt;
    color: inherit;
}

main{
    position: relative;
    top: 60px;
}