*{
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0 40px;
    z-index: 100;
}

#header-img{
    width: 300px;
    float: left;
}

#nav-bar{
    float: right;
}
 
.nav-link{
    padding: 5px 20px;
    text-decoration: none;
    font-size: 14pt;
    color: inherit;
}

#form, #heading{
    text-align: center;
}

#form input[type="email"]{
    margin-bottom: 10px;
    padding: 5px;
    width: 60%;
}

main{
    position: relative;
    top: 60px;
    width: 60%;
    margin: auto;
}

#features{
    display: block;

}
.features-item{
    display: flex;
    margin: 20px 0;

}
.features-item .icon{
    margin-right: 30px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-item .fa{
    color: rgb(241, 166, 4);
}

@media screen and (max-width: 600px){
    body {
        font-size: 80px;
    }
}

#how{
    display: flex;
    align-items: center;
    justify-content: center;
}
#how iframe{
    height: 300px;
    width: 60%;
    margin: 20px 0;

}

#price{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin: 0;
}

#price div{
    text-align: center;
}

#price h3{
    background: #ccc;
}

#price ol{
    list-style: none;
}
    
.btn {
    text-transform: uppercase;
    background-color: rgb(241, 166, 4);
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.btn:hover {
    transform: scale(1.0);
    animation-name: background-color;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

.price-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: groove;
    border-color: lightgray;
    border-width: 2px;
    padding-bottom: 10px;
    width: 32%;
    border-radius: 5px;

}

footer {
    background-color: rgb(194, 185, 185);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0px;
    width: 60%;
    margin: 80px auto 0 auto;
    
}
footer p {
    font-size: 80%;
    color: gray;
    grid-gap: 10px;
}

#nav-foot {
    display: flex;
}
#nav-foot a{
    padding: 5px 10px;
    color: inherit;
    text-decoration: none;
}